<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>Random-Password </h1>
    <div class="mx-auto" style="width: 200px;">

        <p>
            This web-page is created for making password genration easy and quick
            for our user.And is made to understand the working of django URL,VIEWS ,HTML,CSS,and many other things
            The page credit goes to Niraj jain 
        </p>
        <p>
            The major objective of this project is to understancd the paths and the flow of django
        </p>

    </div>

    <a href="{% url 'home' %}" class="btn btn-dark"> Back-to-Home</a>
</body>
</html>